.App {
  text-align: center;
  margin: 0 auto;
  width: 350px;
  position: relative;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.stlpec {
  float: left;
  width: 70px;
  height: 70px;
  text-align:center;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 2em;
}

.button:hover {
  background-color: #333
}

.riadok {
  width: 350;
  height: 70px;
}

.green {
  background-color: green;
}
.red {
  background-color: crimson;
}
.royalblue {
  background-color: royalblue;
}
.violet {
  background-color: violet;
}

.reset {
  font-size: 2em;
  padding-bottom: 7px;
  background-color: darkorange ;
  display: block;
  
}

a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.intro {
  position: relative;
  color:#000;
  opacity: s1;
  font-size: 1.5em;
  text-align: left;
  padding-bottom: 0em;
  margin-bottom: 0.4em;
  padding-top: 0.4em;
}

.version {
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 1px;
  float: right;
  opacity: 1;
  color: black;
  border: 1px solid blue;
  padding: 2px 7px 6px 7px;
  background-color: azure;
  line-height: 1.1em;
  margin-right: 1px;

}
.difficulty{
  position: relative;
  font-size: 1.7em;
  padding-left: 1px;
  padding-bottom: 0.1em;
  margin-top: 0em;
  text-align: left;
}
.difficultyButton{
  width: 25%;
  height: 33px;
  font-size: 0.9em;
  font-weight: 300;
}

.autoplay {
  float: right;
  font-size: smaller;
  
}
.autoplay input {
  padding: 10px;
  margin-left: 8px;
  bottom: 1px;
}

.rangespan {
 float: right; 
 position: absolute;
 right: 125px;
 bottom: 9px;
 
}

  .vlcek {
    float: right; font-size: 0.6em;
    }

.signature {
  text-align:right;
  padding-right: 1px;
  font-size: 0.7em;
  opacity: 0.7;
}

.counter {
  float: left;
}

.info {
  font-size: 1.2em;
  padding-bottom: 7px;
  background-color: white ;
  position: absolute;
  text-align: center;
  
}